nav ul{
    display: flex;
    gap: 2em;
}

nav li{
    list-style: none;
    text-transform: uppercase;
    font-weight: 500;
}

nav ul:hover a{
    color: #d2d2d29f;
}

nav ul:hover a:hover{
    color: #fff;
    box-shadow: 0 2px 0 0 #52AA5E;
}

header{
    position: fixed;
    z-index: 10;
    padding: 2.5em 1.5em;
    width: 100%;
    color: #fff;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    transition: .25s ease;
    justify-content: space-between;
    background: #3d8046f1;
}

#home header{
    background: transparent;
}

header h1{
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 3em;
    transition: .25s;
    text-align: center;
}

header h1:hover{
    opacity: .7;
}

header.scroll{
    background: #3d8046f1 !important;
    /* color: #282828; */
    padding: 2em;
}

header.scroll h1{
    display: none;
}

header.expanded{
    background: #3d8046f1 !important;
}

header.scroll nav ul:hover a:hover, header.expanded nav ul:hover a:hover{
    box-shadow: 0 2px 0 0 #fff;
}

#inicio{
    display: none;
}

header .space, header .login-area {
    width: 20%;
}

.login-area{
    text-align: end;
}

.login-area h2{
    margin-bottom: .5em;
    font-weight: normal;
}

.login-area a, .login-area button{
    font-weight: bold;
}

.login-area button{
    background: transparent;
    color: #fff;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
}

.login-area a:hover, .login-area button:hover{
    box-shadow: 0 1px 0 0 #fff;
}

@media screen and (max-width: 768px) {
    nav ul{
        display: none;
        text-align: center;
    }

    header h1{
        display: none;
    }

    #inicio{
        display: block;
    }

    header, header.scroll, header.expanded{
        padding: 1.5em 1em;
        flex-direction: column-reverse;
    }

    .space{
        display: none;
    }

    .login-area{
        width: 100% !important;
        text-align: end;
    }

    .login-area h2{
        /* display: none; */
    }

    .menu-wrapper{
        width: 100%;
        /* margin-top: 1em; */
    }

    nav ul a{
        color: #fff !important;
    }

    #home header{
        background: #3d8046f1 !important;
    }
}