#transporte .row-body{
    width: 100%;
}

.transporte .novo-agendamento{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
}

#transporte .campo, #transporte form button{
    width: calc(50% - 0.5em) !important;
}

#transporte .novo-agendamento .campo{
    width: 100%  !important;
}

.transporte h3, .transporte p, .transporte small{
    width: 100%;
}

.row.destinos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    margin: 2em 0;
    margin-top: 1em;
}

.destino{
    width: calc(50% - .5em);
    color: #444 !important;
    height: min-content;
    margin-top: 0 !important;
    border: solid 1px #ccc !important;
    border-radius: 3px !important;
}

.resumo p{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.resumo div{
    max-width: 100%;
}

.detalhes{
    padding: 8px 12px !important;
    border-top: solid 1px #ccc;
}

.destino .detalhes p{
    margin-bottom: .5em;
    font-size: .9em;
}

.detalhes .btn{
    width: auto !important;
    margin-top: .5em !important;
    padding: 7px 15px;
    display: inline-block;
    font-size: 12px;
}

.detalhes p a:hover{
    opacity: .8;
}

.novo-transportador{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
}

#transporte .novo-transportador button {
    width: calc(50% - 1em) !important;
    margin-top: auto;
}

.novo-transportador p {
    font-weight: 500;
    margin-top: 1em;
}

#transporte .row-body{
    padding: 1em 0;
}

#transporte .btn-secondary{
    margin-top: 0;
    margin-bottom: 1em;
}

@media screen and (max-width: 768px){
    .destino{
        width: 100%;
    }
}