#alimentos{
    display: flex;
    /* gap: 1em;  */
    width: 100%;
    flex-direction: column;
}

.alimento{
    /* max-width: 10%;
    min-width: 10%; */
    border: solid 1px #ccc;
    background-color: #fff; 
    padding: .7em;
    text-align: center;
    border-radius: 5px;
    margin-right: 1em;
    cursor: grab;
}

.alimento:active{
    cursor: grabbing;
}

.wrap-icon{
    max-width: 40%;
    aspect-ratio: 1 / 1;
    margin: auto;
}

.wrap-icon img{
    max-width: 100%;
    object-fit: contain;
    object-position: center center;
}

.alimento h3{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1em;
    text-transform: capitalize;
    /* margin-bottom: .5em; */
}

.preco img{
    max-width: 1em;
    margin: auto 0;
}

.preco{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

#doacao .alimento button{
    width: 100% !important;
    margin-top: .5em;
    margin-bottom: 0;
    text-align: center;
}

.alice-carousel__dots{
    margin: 5px 3px 0px !important;
}

#alimentos h3{
    margin-bottom: .5em;
}

#alimentos small{
    width: 100%;
    display: block;
    /* margin-top: 20px; */
    text-align: end;
}

#alimentos .btn{
    margin-top: .5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: 0;
}