.row-heading{
    display: flex;
    justify-content: space-between;
}

.row-heading .heading{
    width: 55%;
}

.css-1f2kvjf-MuiFormControlLabel-root .MuiFormControlLabel-label{
    /* width: 50%; */
    font-family: 'QuickSand';
    font-weight: bold;
}