.row-heading{
    display: flex;
    justify-content: space-between;
}

/* .row-heading .heading{
    width: 55%;
} */

.css-1f2kvjf-MuiFormControlLabel-root .MuiFormControlLabel-label{
    /* width: 50%; */
    font-family: 'QuickSand';
    font-weight: bold;
}

.row-body{
    display: flex;
    gap: 2em;
    padding: 2em 0;
    position: relative;
}

.react-calendar{
    border-color: #ccc !important;
    border-radius: 5px;
    font-family: 'Quicksand' !important;
    width: 50% !important;
}

.react-calendar button{
    margin-top: 0 !important;
}

.react-calendar button span, .react-calendar button abbr{
    font-family: 'Quicksand' !important;
}

.react-calendar__navigation__label span{
    font-weight: bold;
    color: #444;
}

.horarios{
    display: flex;
    gap: 1em;
}

input[type="radio"]{
    position: absolute;
    width: 0;
}

.horario{
    padding: 5px 10px;
    border-radius: 3px;
    transition: .25s;
    border: solid 1px #ccc;
    cursor: pointer;
}

.horario:has(input:checked){
    background-color: #48875058;
    font-weight: 600;
}

.novo-agendamento p, .agendamentos p{
    font-weight: 500;
    margin-top: 1.3em;
}

.novo-agendamento .campo, .novo-agendamento button{
    width: 100% !important;
}

.novo-agendamento, .agendamentos{
    width: 50%;
}

#voluntario .heading, #voluntario .wrap-btn{
    width: 50%;
}


@media screen and (max-width: 768px){
    .row-heading{
        flex-direction: column;
    }

    .row-heading .heading, .calendario, .agendamento{
        width: 100% !important;
    }

    .wrap-switch label{
        margin-left: 0;
    }

    .row-body{
        flex-direction: column;
    }
}